## Importing Data {-}

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
noteevents_df = pd.read_csv('/Users/JoKerry/Desktop/CSML1030 - Machine Learning Capstone/NOTEEVENTS_WITH_AGE.csv')
noteevents_df

/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,0
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,81
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,81
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,87
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,82
...,...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,0
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",0
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,0
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,0
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,0

## Exploratory Data Analysis {-}

In [15]:
noteevents_df['HADM_ID'].nunique()

58361

## Filter Full Data by Discharge Summary {-}

In [4]:
# noteevents_filter_discharge_df = noteevents_df.loc[noteevents_df['CATEGORY'] == 'Discharge summary']
# noteevents_filter_discharge_df.head()

In [5]:
# noteevents_filter_discharge_df['CATEGORY'].nunique()

In [6]:
# noteevents_filter_discharge_df.info()

In [7]:
# noteevents_filter_discharge_df = noteevents_filter_discharge_df.drop(['CHARTTIME', 'STORETIME', 'CGID', 'ISERROR'], axis=1)
# noteevents_filter_discharge_df.info()

In [8]:
# noteevents_filter_discharge_df

## Importing DIAGNOSIS_ICD {-}

In [9]:
diagnosis_icd = pd.read_csv('/Users/JoKerry/Desktop/CSML1030 - Machine Learning Capstone/mimic-iii-clinical-database-1.4/DIAGNOSES_ICD.csv')
diagnosis_icd

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
...        ...         ...      ...      ...       ...
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]

In [10]:
labels = ['4019', '5849', '51881', '53081']

In [11]:
diagnosis_icd_filter = diagnosis_icd.loc[diagnosis_icd['ICD9_CODE'].isin(labels)]

In [12]:
diagnosis_icd_filter

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
35        1495         113   109976      3.0     53081
53        1513         115   114585     12.0      4019
70        1530         117   140784      8.0      4019
75        1535         117   164853      4.0      5849
89        1549         117   164853     18.0      4019
...        ...         ...      ...      ...       ...
650986  639742       97484   172304      4.0      4019
650988  639744       97484   172304      6.0     53081
650994  639750       97488   152542      6.0      4019
650996  639752       97488   152542      8.0     53081
651012  639768       97488   161999     13.0      4019

[43645 rows x 5 columns]

In [16]:
diagnosis_icd_filter_drop = diagnosis_icd_filter.sort_values('SEQ_NUM').drop_duplicates('HADM_ID', keep='first')
diagnosis_icd_filter_drop

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
255946  269651       24136   153714      1.0      5849
225792  227977       20425   174834      1.0     51881
643835  642267       98040   101463      1.0      5849
124584  108003        9644   123285      1.0     51881
225646  233364       20907   115665      1.0     51881
...        ...         ...      ...      ...       ...
489960  504720       67348   179548     32.0      4019
503399  496889       65659   133827     32.0     53081
277988  278595       24955   154989     32.0     53081
541604  549697       77282   129551     36.0      4019
465422  465900       58773   170349     39.0     53081

[32275 rows x 5 columns]

In [17]:
diagnosis_icd_filter_drop['HADM_ID'].nunique()

32275

## Merging Datasets {-}

In [19]:
print(diagnosis_icd_filter_drop.dtypes)
print('\n--------------------\n')
print(noteevents_df.dtypes)

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID         int64
SEQ_NUM       float64
ICD9_CODE      object
dtype: object

--------------------

ROW_ID           int64
SUBJECT_ID       int64
HADM_ID        float64
CHARTDATE       object
CHARTTIME       object
STORETIME       object
CATEGORY        object
DESCRIPTION     object
CGID           float64
ISERROR        float64
TEXT            object
AGE              int64
dtype: object

In [20]:
diagnosis_icd_filter_drop.HADM_ID = diagnosis_icd_filter_drop.HADM_ID.astype(float)
diagnosis_icd_filter_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32275 entries, 255946 to 465422
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ROW_ID      32275 non-null  int64
 1   SUBJECT_ID  32275 non-null  int64
 2   HADM_ID     32275 non-null  float64
 3   SEQ_NUM     32275 non-null  float64
 4   ICD9_CODE   32275 non-null  object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.5+ MB

In [21]:
diagnosis_icd_filter_drop

        ROW_ID  SUBJECT_ID   HADM_ID  SEQ_NUM ICD9_CODE
255946  269651       24136  153714.0      1.0      5849
225792  227977       20425  174834.0      1.0     51881
643835  642267       98040  101463.0      1.0      5849
124584  108003        9644  123285.0      1.0     51881
225646  233364       20907  115665.0      1.0     51881
...        ...         ...       ...      ...       ...
489960  504720       67348  179548.0     32.0      4019
503399  496889       65659  133827.0     32.0     53081
277988  278595       24955  154989.0     32.0     53081
541604  549697       77282  129551.0     36.0      4019
465422  465900       58773  170349.0     39.0     53081

[32275 rows x 5 columns]

In [22]:
label_merge_text_df = diagnosis_icd_filter_drop.merge(noteevents_df, how='left', on='HADM_ID')
label_merge_text_df

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,ROW_ID_y,SUBJECT_ID_y,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714.0,1.0,5849,21400.0,24136.0,2159-07-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2159-7-6**] Discharg...,51.0
1,269651,24136,153714.0,1.0,5849,77601.0,24136.0,2159-07-09,NaN,NaN,Echo,Report,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Congest...,0.0
2,269651,24136,153714.0,1.0,5849,186461.0,24136.0,2159-07-06,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Consider inferior myocardial inf...,0.0
3,269651,24136,153714.0,1.0,5849,186462.0,24136.0,2159-07-07,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Since the previous tracing of [*...,0.0
4,269651,24136,153714.0,1.0,5849,828883.0,24136.0,2159-07-06,2159-07-06 19:13:00,NaN,Radiology,CHEST (PA & LAT),NaN,NaN,[**2159-7-6**] 7:13 PM\n CHEST (PA & LAT) ...,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011210,465900,58773,170349.0,39.0,53081,265949.0,58773.0,2133-04-04,NaN,NaN,ECG,Report,NaN,NaN,Atrial fibrillation with intermittent ventricu...,0.0
1011211,465900,58773,170349.0,39.0,53081,265950.0,58773.0,2133-04-03,NaN,NaN,ECG,Report,NaN,NaN,Atrial fibrillation with intermittent ventricu...,0.0
1011212,465900,58773,170349.0,39.0,53081,265951.0,58773.0,2133-04-02,NaN,NaN,ECG,Report,NaN,NaN,Artifact is present. Regular ventricular paci...,0.0
1011213,465900,58773,170349.0,39.0,53081,265952.0,58773.0,2133-04-01,NaN,NaN,ECG,Report,NaN,NaN,Ventricular paced complexes with underlying at...,0.0
1011214,465900,58773,170349.0,39.0,53081,265953.0,58773.0,2133-04-01,NaN,NaN,ECG,Report,NaN,NaN,Atrial fibrillation with occasional ventricula...,0.0

In [23]:
label_merge_text_df['HADM_ID'].nunique()

32275

In [24]:
label_merge_text_df = label_merge_text_df.sort_values('SEQ_NUM').drop_duplicates('HADM_ID', keep='first')
label_merge_text_df

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,ROW_ID_y,SUBJECT_ID_y,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714.0,1.0,5849,21400.0,24136.0,2159-07-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2159-7-6**] Discharg...,51.0
47397,341281,29799,165367.0,1.0,51881,1647450.0,29799.0,2200-08-05,2200-08-05 15:44:00,2200-08-05 16:13:00,Nursing/other,Report,20848.0,NaN,FOCUS; NURISNG PROGRESS NOTE\n(Continued)\nSPL...,0.0
47491,484212,62854,129565.0,1.0,51881,30298.0,62854.0,2146-06-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2146-6-1**] D...,79.0
47258,339195,29631,141170.0,1.0,51881,348894.0,29631.0,2180-12-06,2180-12-06 02:46:00,2180-12-06 02:52:32,Nursing,Nursing Progress Note,14757.0,NaN,"Hypoglycemia\n Assessment:\n Pt. BS 114, 1...",0.0
47278,157832,14106,184643.0,1.0,5849,2052.0,14106.0,2136-01-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2136-1-21**] ...,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011178,278595,24955,154989.0,32.0,53081,1587658.0,24955.0,2142-09-26,2142-09-26 04:27:00,2142-09-26 04:36:00,Nursing/other,Report,19653.0,NaN,Respiratory Care:\n\nPatient intubated for inc...,0.0
1011154,496889,65659,133827.0,32.0,53081,1135682.0,65659.0,2194-04-24,2194-04-24 14:07:00,NaN,Radiology,CHEST PORT. LINE PLACEMENT,NaN,NaN,[**2194-4-24**] 2:07 PM\n CHEST PORT. LINE PLA...,73.0
1011139,504720,67348,179548.0,32.0,4019,48049.0,67348.0,2182-08-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2182-8-1**] [...,79.0
1011204,549697,77282,129551.0,36.0,4019,1138249.0,77282.0,2160-05-11,2160-05-11 13:51:00,NaN,Radiology,FLUORO GUID FOR SPINE DIAG/THERAPEUTIC INJ,NaN,NaN,[**2160-5-11**] 1:51 PM\n LUMBAR PUNCTURE ...,51.0
1011213,465900,58773,170349.0,39.0,53081,265952.0,58773.0,2133-04-01,NaN,NaN,ECG,Report,NaN,NaN,Ventricular paced complexes with underlying at...,0.0

In [25]:
label_merge_text_df['TEXT'].isnull().sum()

224

In [26]:
label_merge_text_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32275 entries, 0 to 1011213
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ROW_ID_x      32275 non-null  int64
 1   SUBJECT_ID_x  32275 non-null  int64
 2   HADM_ID       32275 non-null  float64
 3   SEQ_NUM       32275 non-null  float64
 4   ICD9_CODE     32275 non-null  object
 5   ROW_ID_y      32051 non-null  float64
 6   SUBJECT_ID_y  32051 non-null  float64
 7   CHARTDATE     32051 non-null  object
 8   CHARTTIME     19789 non-null  object
 9   STORETIME     12006 non-null  object
 10  CATEGORY      32051 non-null  object
 11  DESCRIPTION   32051 non-null  object
 12  CGID          12006 non-null  float64
 13  ISERROR       7 non-null      float64
 14  TEXT          32051 non-null  object
 15  AGE           32051 non-null  float64
dtypes: float64(7), int64(2), object(7)
memory usage: 4.2+ MB

In [27]:
label_merge_text_df = label_merge_text_df.drop(['ROW_ID_y', 'SUBJECT_ID_y', 'CHARTDATE', 'DESCRIPTION'], axis=1)
label_merge_text_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32275 entries, 0 to 1011213
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ROW_ID_x      32275 non-null  int64
 1   SUBJECT_ID_x  32275 non-null  int64
 2   HADM_ID       32275 non-null  float64
 3   SEQ_NUM       32275 non-null  float64
 4   ICD9_CODE     32275 non-null  object
 5   CHARTTIME     19789 non-null  object
 6   STORETIME     12006 non-null  object
 7   CATEGORY      32051 non-null  object
 8   CGID          12006 non-null  float64
 9   ISERROR       7 non-null      float64
 10  TEXT          32051 non-null  object
 11  AGE           32051 non-null  float64
dtypes: float64(5), int64(2), object(5)
memory usage: 3.2+ MB

## Dropping Null Text Rows {-}

In [28]:
label_merge_text_df['TEXT'].isnull()

0          False
47397      False
47491      False
47258      False
47278      False
           ...
1011178    False
1011154    False
1011139    False
1011204    False
1011213    False
Name: TEXT, Length: 32275, dtype: bool

In [29]:
null_columns = label_merge_text_df.columns[label_merge_text_df.isnull().any()]
print(label_merge_text_df[label_merge_text_df["TEXT"].isnull()][null_columns])

        CHARTTIME STORETIME CATEGORY  CGID  ISERROR TEXT  AGE
50801         NaN       NaN      NaN   NaN      NaN  NaN  NaN
42845         NaN       NaN      NaN   NaN      NaN  NaN  NaN
10015         NaN       NaN      NaN   NaN      NaN  NaN  NaN
16113         NaN       NaN      NaN   NaN      NaN  NaN  NaN
6635          NaN       NaN      NaN   NaN      NaN  NaN  NaN
...           ...       ...      ...   ...      ...  ...  ...
941195        NaN       NaN      NaN   NaN      NaN  NaN  NaN
966279        NaN       NaN      NaN   NaN      NaN  NaN  NaN
980746        NaN       NaN      NaN   NaN      NaN  NaN  NaN
978028        NaN       NaN      NaN   NaN      NaN  NaN  NaN
1008749       NaN       NaN      NaN   NaN      NaN  NaN  NaN

[224 rows x 7 columns]

In [31]:
print(label_merge_text_df.TEXT[50801])

nan

In [33]:
label_merge_text_df = label_merge_text_df.dropna(axis=0, subset=['TEXT'])

In [34]:
print(label_merge_text_df[label_merge_text_df['TEXT'].isnull()][null_columns])

Empty DataFrame
Columns: [CHARTTIME, STORETIME, CATEGORY, CGID, ISERROR, TEXT, AGE]
Index: []

In [35]:
label_merge_text_df

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,CHARTTIME,STORETIME,CATEGORY,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714.0,1.0,5849,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2159-7-6**] Discharg...,51.0
47397,341281,29799,165367.0,1.0,51881,2200-08-05 15:44:00,2200-08-05 16:13:00,Nursing/other,20848.0,NaN,FOCUS; NURISNG PROGRESS NOTE\n(Continued)\nSPL...,0.0
47491,484212,62854,129565.0,1.0,51881,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2146-6-1**] D...,79.0
47258,339195,29631,141170.0,1.0,51881,2180-12-06 02:46:00,2180-12-06 02:52:32,Nursing,14757.0,NaN,"Hypoglycemia\n Assessment:\n Pt. BS 114, 1...",0.0
47278,157832,14106,184643.0,1.0,5849,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2136-1-21**] ...,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1011178,278595,24955,154989.0,32.0,53081,2142-09-26 04:27:00,2142-09-26 04:36:00,Nursing/other,19653.0,NaN,Respiratory Care:\n\nPatient intubated for inc...,0.0
1011154,496889,65659,133827.0,32.0,53081,2194-04-24 14:07:00,NaN,Radiology,NaN,NaN,[**2194-4-24**] 2:07 PM\n CHEST PORT. LINE PLA...,73.0
1011139,504720,67348,179548.0,32.0,4019,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2182-8-1**] [...,79.0
1011204,549697,77282,129551.0,36.0,4019,2160-05-11 13:51:00,NaN,Radiology,NaN,NaN,[**2160-5-11**] 1:51 PM\n LUMBAR PUNCTURE ...,51.0
1011213,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Ventricular paced complexes with underlying at...,0.0

In [36]:
label_merge_text_df['TEXT'].isnull().sum()

0

In [37]:
label_merge_text_df['AGE'] = label_merge_text_df['AGE'].astype(int)
label_merge_text_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32051 entries, 0 to 1011213
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ROW_ID_x      32051 non-null  int64
 1   SUBJECT_ID_x  32051 non-null  int64
 2   HADM_ID       32051 non-null  float64
 3   SEQ_NUM       32051 non-null  float64
 4   ICD9_CODE     32051 non-null  object
 5   CHARTTIME     19789 non-null  object
 6   STORETIME     12006 non-null  object
 7   CATEGORY      32051 non-null  object
 8   CGID          12006 non-null  float64
 9   ISERROR       7 non-null      float64
 10  TEXT          32051 non-null  object
 11  AGE           32051 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 3.2+ MB

<ipython-input-37-21a3fdad3245>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label_merge_text_df['AGE'] = label_merge_text_df['AGE'].astype(int)

In [38]:
label_merge_text_df

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,CHARTTIME,STORETIME,CATEGORY,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714.0,1.0,5849,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2159-7-6**] Discharg...,51
47397,341281,29799,165367.0,1.0,51881,2200-08-05 15:44:00,2200-08-05 16:13:00,Nursing/other,20848.0,NaN,FOCUS; NURISNG PROGRESS NOTE\n(Continued)\nSPL...,0
47491,484212,62854,129565.0,1.0,51881,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2146-6-1**] D...,79
47258,339195,29631,141170.0,1.0,51881,2180-12-06 02:46:00,2180-12-06 02:52:32,Nursing,14757.0,NaN,"Hypoglycemia\n Assessment:\n Pt. BS 114, 1...",0
47278,157832,14106,184643.0,1.0,5849,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2136-1-21**] ...,59
...,...,...,...,...,...,...,...,...,...,...,...,...
1011178,278595,24955,154989.0,32.0,53081,2142-09-26 04:27:00,2142-09-26 04:36:00,Nursing/other,19653.0,NaN,Respiratory Care:\n\nPatient intubated for inc...,0
1011154,496889,65659,133827.0,32.0,53081,2194-04-24 14:07:00,NaN,Radiology,NaN,NaN,[**2194-4-24**] 2:07 PM\n CHEST PORT. LINE PLA...,73
1011139,504720,67348,179548.0,32.0,4019,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2182-8-1**] [...,79
1011204,549697,77282,129551.0,36.0,4019,2160-05-11 13:51:00,NaN,Radiology,NaN,NaN,[**2160-5-11**] 1:51 PM\n LUMBAR PUNCTURE ...,51
1011213,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Ventricular paced complexes with underlying at...,0

In [39]:
#label_merge_text_df.to_csv('mimic_text_label_merge.csv', index=False)