## Data Preparation And Exploration {-}

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
noteevents_df = pd.read_csv('/Users/JoKerry/Desktop/CSML1030 - Machine Learning Capstone/mimic-iii-clinical-database-1.4/NOTEEVENTS.csv')
noteevents_df.head(5)

/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [3]:
noteevents_df['HADM_ID'].isnull().sum()

231836

In [4]:
noteevents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083180 entries, 0 to 2083179
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   ROW_ID       int64
 1   SUBJECT_ID   int64
 2   HADM_ID      float64
 3   CHARTDATE    object
 4   CHARTTIME    object
 5   STORETIME    object
 6   CATEGORY     object
 7   DESCRIPTION  object
 8   CGID         float64
 9   ISERROR      float64
 10  TEXT         object
dtypes: float64(3), int64(2), object(6)
memory usage: 174.8+ MB

In [5]:
noteevents_df.TEXT

0          Admission Date:  [**2151-7-16**]       Dischar...
1          Admission Date:  [**2118-6-2**]       Discharg...
2          Admission Date:  [**2119-5-4**]              D...
3          Admission Date:  [**2124-7-21**]              ...
4          Admission Date:  [**2162-3-3**]              D...
                                 ...
2083175    NPN\n\n\n#1  Infant remains in RA with O2 sats...
2083176    Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...
2083177    Family Meeting Note\nFamily meeting held with ...
2083178    NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
2083179    NPN 1800\nNursing Addendum:\n[**Known lastname...
Name: TEXT, Length: 2083180, dtype: object

In [6]:
print(noteevents_df.TEXT[1])

Admission Date:  [**2118-6-2**]       Discharge Date:  [**2118-6-14**]

Date of Birth:                    Sex:  F

Service:  MICU and then to [**Doctor Last Name **] Medicine

HISTORY OF PRESENT ILLNESS:  This is an 81-year-old female
with a history of emphysema (not on home O2), who presents
with three days of shortness of breath thought by her primary
care doctor to be a COPD flare.  Two days prior to admission,
she was started on a prednisone taper and one day prior to
admission she required oxygen at home in order to maintain
oxygen saturation greater than 90%.  She has also been on
levofloxacin and nebulizers, and was not getting better, and
presented to the [**Hospital1 18**] Emergency Room.

In the [**Hospital3 **] Emergency Room, her oxygen saturation was
100% on CPAP.  She was not able to be weaned off of this
despite nebulizer treatment and Solu-Medrol 125 mg IV x2.

Review of systems is negative for the following:  Fevers,
chills, nausea, vomiting, night sweats, change in weight,
gastrointestinal complaints, neurologic changes, rashes,
palpitations, orthopnea.  Is positive for the following:
Chest pressure occasionally with shortness of breath with
exertion, some shortness of breath that is positionally
related, but is improved with nebulizer treatment.

PAST MEDICAL HISTORY:
1. COPD.  Last pulmonary function tests in [**2117-11-3**]
demonstrated a FVC of 52% of predicted, a FEV1 of 54% of
predicted, a MMF of 23% of predicted, and a FEV1:FVC ratio of
67% of predicted, that does not improve with bronchodilator
treatment.  The FVC, however, does significantly improve with
bronchodilator treatment consistent with her known reversible
air flow obstruction in addition to an underlying restrictive
ventilatory defect.  The patient has never been on home
oxygen prior to this recent episode.  She has never been on
steroid taper or been intubated in the past.
2. Lacunar CVA.  MRI of the head in [**2114-11-4**]
demonstrates "mild degree of multiple small foci of high T2
signal within the white matter of both cerebral hemispheres
as well as the pons, in the latter region predominantly to
the right of midline.  The abnormalities, while nonspecific
in etiology, are most likely secondary to chronic
microvascular infarction.  There is no mass, lesion, shift of
the normal midline strictures or hydrocephalus.  The major
vascular flow patterns are preserved.  There is moderate
right maxillary, moderate bilateral ethmoid, mild left
maxillary, minimal right sphenoid, and frontal sinus mucosal
thickening.  These abnormalities could represent an allergic
or some other type of inflammatory process.  Additionally
noted is a moderately enlarged subtotally empty sella
turcica".
3. Angina:  Most recent stress test was in [**2118-1-3**]
going for four minutes with a rate pressure product of
10,000, 64% of maximum predicted heart rate without evidence
of ischemic EKG changes or symptoms.  The imaging portion of
the study demonstrated no evidence of myocardial ischemia and
a calculated ejection fraction of 84%.  The patient denies
angina at rest and gets angina with walking a few blocks.
Are alleviated by sublingual nitroglycerin.
4. Hypothyroidism on Synthroid.
5. Depression on Lexapro.
6. Motor vehicle accident with head injury approximately 10
years ago.

MEDICATIONS ON ADMISSION:
1. Hydrochlorothiazide 25 q.d.
2. Prednisone 60 mg, 50 mg, 40 mg, 20 mg.
3. Levofloxacin 500 mg q.d.
4. Imdur 60 mg q.d.
5. Synthroid 75 mcg q.d.
6. Pulmicort nebulizer b.i.d.
7. Albuterol nebulizer q.4. prn.
8. Lexapro 10 mg q.d.
9. Protonix 40 mg q.d.
10. Aspirin 81 mg q.d.

ALLERGIES:  Norvasc leads to lightheadedness and headache.

FAMILY HISTORY:  Noncontributory.

SOCIAL HISTORY:  Lives with her husband, Dr. [**Known lastname 1809**] an
eminent Pediatric Neurologist at [**Hospital3 1810**].  The
patient is a prior smoker, but has not smoked in over 10
years.  She has no known alcohol use and she is a full code.

PHYSICAL EXAM AT TIME OF ADMISSION:  Blood pressure 142/76,
heart rate 100 and regular, respirations at 17-21, and 97%
axillary temperature.  She was saturating at 100% on CPAP
with dry mucous membranes.  An elderly female in no apparent
distress.  Pupils are equal, round, and reactive to light and
accommodation.  Extraocular movements are intact.  Oropharynx
difficult to assess due to CPAP machine.  No evidence of
jugular venous pressure, however, the strap from the CPAP
machine obscures the neck exam.  Cranial nerves II through
XII are grossly intact.  Neck is supple without
lymphadenopathy.  Heart exam:  Tachycardic, regular, obscured
by loud bilateral wheezing with increase in the expiratory
phase as well as profuse scattered rhonchi throughout the
lung fields.  Positive bowel sounds, soft, nontender,
nondistended, obese, no masses.  Mild edema of the lower
extremities without clubbing or cyanosis, no rashes.  There
is a right hand hematoma.  Strength is assessed as [**5-9**] in the
lower extremities, [**5-9**] in the upper extremities with a normal
mental status and cognition.

LABORATORY STUDIES:  White count 19, hematocrit 41, platelets
300.  Chem-7:  127, 3.6, 88, 29, 17, 0.6, 143.  Troponin was
negative.  CKs were negative times three.  Initial blood gas
showed a pH of 7.4, pO2 of 66, pCO2 of 54.

Chest x-ray demonstrates a moderate sized hiatal hernia,
segmental atelectasis, left lower lobe infiltrate versus
segmental atelectasis.

EKG shows normal sinus rhythm at 113 beats per minute, normal
axis, no evidence of ST-T wave changes.

BRIEF SUMMARY OF HOSPITAL COURSE:
1. COPD/dyspnea/pneumonia:  The patient was initially placed
on an aggressive steroid taper and admitted to the Medical
Intensive Care Unit due to her difficulty with oxygenation
despite CPAP machine.  She was also given nebulizer
treatments q.4h. as well as chest PT.  The nebulizers were
increased to q.1h. due to the fact that she continued to have
labored breathing.

Due to persistent respiratory failure and labored breathing,
the patient was intubated on [**2118-6-7**] in order to improve
oxygenation, ventilation, and ability to suction.  A
bronchoscopy was performed on [**2118-6-7**], which demonstrated
marked narrowing of the airways with expiration consistent
with tracheomalacia.

On [**2118-6-9**], two silicone stents were placed, one in the left
main stem (12 x 25 and one in the trachea 16 x 40) by Dr.
[**First Name (STitle) **] [**Name (STitle) **] under rigid bronchoscopy with general anesthesia.

On [**2118-6-11**], the patient was extubated to a cool mist shovel
mask and her oxygen was titrated down to 2 liters nasal
cannula at which time she was transferred to the medical
floor.  On the medical floor, the steroids were weaned to off
on [**2118-6-14**], and the patient was saturating at 97% on 2
liters, 92% on room air.

On [**2118-6-14**], the patient was seen again by the Interventional
Pulmonology service, who agreed that she looked much improved
and recommended that she go to pulmonary rehabilitation with
followup within six weeks' time status post placement of
stents in respiratory failure.

2. Cardiovascular:  The patient was ruled out for a MI.  She
did have another episode on the medical floor of chest pain,
which showed no evidence of EKG changes and negative
troponin, negative CKs x3.  She was continued on aspirin,
Imdur, and diltiazem for rate control per her outpatient
regimen.

3. Hypertension:  She was maintained on diltiazem and
hydrochlorothiazide with adequate blood pressure control and
normalization of electrolytes.

4. Hematuria:  The patient had intermittent hematuria likely
secondary to Foley placement.  The Foley catheter was
discontinued on [**2118-6-14**].  She had serial urinalyses, which
were all negative for signs of infection.

5. Hyperglycemia:  Patient was placed on insulin-sliding
scale due to hyperglycemia, which was steroid induced.  This
worked quite well and her glucose came back to normal levels
once the steroids were tapered to off.

6. Leukocytosis:  Patient did have a profound leukocytosis of
20 to 22 during much of her hospital course.  As the steroids
were tapered to off, her white blood cell count on [**2118-6-14**]
was 15,000.  It was felt that the leukocytosis was secondary
to both steroids as well as question of a left lower lobe
pneumonia.

7. For the left lower lobe pneumonia, the patient had
initially received a course of levofloxacin 500 p.o. q.d.
from [**2118-6-4**] to [**2118-6-10**].  This was restarted on [**2118-6-12**]
for an additional seven day course given the fact that she
still had the leukocytosis and still had marked rales at the
left lower lobe.

8. Hypothyroidism:  The patient was continued on outpatient
medical regimen.

9. Depression:  The patient was continued on Lexapro per
outpatient regimen.  It is recommended that she follow up
with a therapist as an outpatient due to the fact that she
did have a blunted affect throughout much of the hospital
course, and did appear clinically to be depressed.

10. Prophylaxis:  She was maintained on proton-pump inhibitor
with subQ Heparin.

11. Sore throat:  The patient did have a sore throat for much
of the hospital course post extubation.  This was treated
with Cepacol lozenges as well as KBL liquid (a solution
containing Kaopectate, Bismuth, and lidocaine) at bedtime.

12. Communication/code status:  The patient was full code
throughout her hospital course, and communication was
maintained with the patient and her husband.

13. Muscle weakness:  The patient did have profound muscle
weakness and was evaluated by Physical Therapy, and was found
to have impaired functional mobility, impaired
musculoskeletal performance, impaired gas exchange, impaired
endurance, impaired ventilation, and needed help with supine
to sit.  However, she was able to tolerate sitting in a chair
for approximately one hour.

On motor exam, her flexors and extensors of the lower
extremities were [**4-8**] at the knee, [**4-8**] at the ankle, [**4-8**] at
the elbows, and [**4-8**] hips.  It was felt that this weakness was
most likely due to a combination of steroid myopathy as well
as muscle atrophy secondary to deconditioning after a
prolonged hospital course.

14. Speech/swallow:  The patient had a Speech and Swallow
evaluation showing no evidence of dysphagia, no evidence of
vocal cord damage status post tracheal stent placement.

DISCHARGE CONDITION:  The patient was able to oxygenate on
room air at 93% at the time of discharge.  She was profoundly
weak, but was no longer tachycardic and had a normal blood
pressure.  Her respirations were much improved albeit with
transmitted upper airway sounds.

DISCHARGE STATUS:  The patient will be discharged to [**Hospital1 **]
for both pulmonary and physical rehabilitation.

DISCHARGE MEDICATIONS:
1. Levothyroxine 75 mcg p.o. q.d.
2. Citalopram 10 mg p.o. q.d.
3. Aspirin 81 mg p.o. q.d.
4. Fluticasone 110 mcg two puffs inhaled b.i.d.
5. Salmeterol Diskus one inhalation b.i.d.
6. Acetaminophen 325-650 mg p.o. q.4-6h. prn.
7. Ipratropium bromide MDI two puffs inhaled q.2h. prn.
8. Albuterol 1-2 puffs inhaled q.2h. prn.
9. Zolpidem tartrate 5 mg p.o. q.h.s. prn.
10. Isosorbide dinitrate 10 mg p.o. t.i.d.
11. Diltiazem 60 mg p.o. q.i.d.
12. Pantoprazole 40 mg p.o. q.24h.
13. Trazodone 25 mg p.o. q.h.s. prn.
14. SubQ Heparin 5000 units subcutaneous b.i.d. until such
time that the patient is able to get out of bed twice a day.
15. Cepacol lozenges q.2h. prn.
16. Levofloxacin 500 mg p.o. q.d. for a seven day course to
be completed on [**2118-6-21**].
17. Kaopectate/Benadryl/lidocaine 5 mL p.o. b.i.d. prn, not
to be given around mealtimes for concern of dysphagia induced
by lidocaine.
18. Lorazepam 0.5-2 mg IV q.6h. prn.

FOLLOW-UP PLANS:  The patient is recommended to followup with
Dr. [**First Name4 (NamePattern1) **] [**Last Name (NamePattern1) 1407**], [**Telephone/Fax (1) 1408**] within two weeks of leaving
of the hospital.  She is also recommended to followup with
the Interventional Pulmonary service for followup status post
stent placement.  She is also recommended to followup with a
neurologist if her muscle weakness does not improve within
one week on physical therapy with concern for steroid-induced
myopathy.

FINAL DIAGNOSES:
1. Tracheomalacia status post tracheal and left main stem
bronchial stent placement.
2. Hypertension.
3. Hypothyroidism.
4. Restrictive lung defect.
5. Depression.


                     DR.[**Last Name (STitle) **],[**First Name3 (LF) **] 12-207


Dictated By:[**Last Name (NamePattern1) 1811**]
MEDQUIST36

D:  [**2118-6-14**]  11:30
T:  [**2118-6-14**]  11:33
JOB#:  [**Job Number 1812**]

## Age Extraction Functions {-}

Below are functions to be used:

In [7]:
import re

In [8]:
# function for extracting Age as Number only from TEXT column (use after removing missing ages from entire data)

def find_age(text):
    num = (re.search(r'\d+(?=yo)',text) or re.search(r'\d+(?= yo)',text) or re.search(r'\d+(?=-yo )',text)
    or re.search(r'\d+(?=y/o)',text) or re.search(r'\d+(?= y/o)',text) 
    or re.search(r'\d+(?=Y/O)',text) or re.search(r'\d+(?= Y/O)',text) or re.search(r'\d+(?= -yo)',text)
    or re.search(r'\d+(?=-year-old)',text) or re.search(r'\d+(?= year old)',text) or re.search(r'\d+(?= years old)',text)
    or re.search(r'\d+(?=-years-old)',text) or re.search(r'\d+(?= year-old)',text) or re.search(r'\d+(?= years-old)',text)
    or re.search(r'\d+(?=yoF)',text) or re.search(r'\d+(?=yoM)',text) or re.search(r'\d+(?= -Y/O)',text)
    or re.search(r'\d+(?= yoF)',text) or re.search(r'\d+(?= yoM)',text) 
    or re.search(r'\d+(?=M )',text)
    or re.search(r'\d+(?= M )',text)
    or re.search(r'\d+(?= years/old)',text) or re.search(r'\d+(?=years/old)',text)
    or re.search(r'\d+(?=YOM)',text) or re.search(r'\d+(?=YOF)',text)
    or re.search(r'\d+(?= YOM)',text) or re.search(r'\d+(?= YOF)',text)
    or re.search(r'\d+(?=y )',text) or re.search(r'\d+(?= y )',text) or re.search(r'\d+(?= y.o)',text) or re.search(r'\d+(?=y.o)',text)
    or re.search(r'\d+(?= y.o.)',text) or re.search(r'\d+(?=y.o.)',text)
    or re.search(r'\d+(?=F )',text) or re.search(r'\d+(?= F )',text)).group()
    
    return num

In [9]:
# function for extracting Age as re.match from TEXT column (use to find missing ages from entire data)

def find_match(text):
    num = (re.search(r'\d+(?=yo)',text) or re.search(r'\d+(?= yo)',text) or re.search(r'\d+(?=-yo )',text)
    or re.search(r'\d+(?=y/o)',text) or re.search(r'\d+(?= y/o)',text) 
    or re.search(r'\d+(?=Y/O)',text) or re.search(r'\d+(?= Y/O)',text) or re.search(r'\d+(?= -yo )',text)
    or re.search(r'\d+(?=-year-old)',text) or re.search(r'\d+(?= year old)',text) or re.search(r'\d+(?= years old)',text)
    or re.search(r'\d+(?=-years-old)',text) or re.search(r'\d+(?= year-old)',text) or re.search(r'\d+(?= years-old)',text)
    or re.search(r'\d+(?=yoF)',text) or re.search(r'\d+(?=yoM)',text) or re.search(r'\d+(?= -Y/O)',text)
    or re.search(r'\d+(?= yoF)',text) or re.search(r'\d+(?= yoM)',text)
    or re.search(r'\d+(?=M )',text)
    or re.search(r'\d+(?= years/old)',text) or re.search(r'\d+(?=years/old)',text)
    or re.search(r'\d+(?= M )',text)
    or re.search(r'\d+(?=YOM)',text) or re.search(r'\d+(?=YOF)',text)
    or re.search(r'\d+(?= YOM)',text) or re.search(r'\d+(?= YOF)',text)
    or re.search(r'\d+(?=y )',text) or re.search(r'\d+(?= y )',text)
    or re.search(r'\d+(?= y.o.)',text) or re.search(r'\d+(?=y.o.)',text) or re.search(r'\d+(?= y.o)',text) or re.search(r'\d+(?=y.o)',text)
    or re.search(r'\d+(?=F )',text) or re.search(r'\d+(?= F )',text))
    
    return num

## Finding Age Matches in Text Column {-}

In [10]:
noteevents_df['AGE_MATCH'] = noteevents_df['TEXT'].apply(find_match)
noteevents_df

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE_MATCH
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,None
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,"<re.Match object; span=(216, 218), match='81'>"
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,"<re.Match object; span=(192, 194), match='81'>"
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,"<re.Match object; span=(367, 369), match='87'>"
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,"<re.Match object; span=(1022, 1024), match='82'>"
...,...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,None
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",None
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,None
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,None
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,None

In [11]:
noteevents_df['AGE_MATCH'].isnull().sum()

1287887

## Placing None Value Rows Into A New DataFrame {-}

In [12]:
noteevents_df_age_none = noteevents_df[noteevents_df['AGE_MATCH'].isnull()]
noteevents_df_age_none

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE_MATCH
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,None
8,182,56174,163469.0,2118-08-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-8-10**] ...,None
26,237,26601,155131.0,2131-12-29,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-12-23**] ...,None
29,240,27051,113012.0,2194-02-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...,None
60,207,5239,129387.0,2189-02-26,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2189-2-18**] Dischar...,None
...,...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,None
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",None
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,None
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,None
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,None

## Dropping None Values in Original DataFrame {-}

In [13]:
noteevents_df_drop_none = noteevents_df.dropna(axis=0, subset=['AGE_MATCH'])
noteevents_df_drop_none

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE_MATCH
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,"<re.Match object; span=(216, 218), match='81'>"
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,"<re.Match object; span=(192, 194), match='81'>"
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,"<re.Match object; span=(367, 369), match='87'>"
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,"<re.Match object; span=(1022, 1024), match='82'>"
5,179,53181,170490.0,2172-03-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-3-5**] D...,"<re.Match object; span=(421, 423), match='62'>"
...,...,...,...,...,...,...,...,...,...,...,...,...
2083090,2077470,31844,145602.0,2149-11-20,2149-11-20 17:59:00,2149-11-20 18:06:00,Nursing/other,Report,21222.0,NaN,"Admission Note\nOb-[**Last Name (LF) 279**], [...","<re.Match object; span=(290, 292), match='41'>"
2083133,2075452,31655,175166.0,2148-07-25,2148-07-25 21:51:00,2148-07-25 21:58:00,Nursing/other,Report,19211.0,NaN,Neonatology\nBaby Girl [**Known lastname 1672*...,"<re.Match object; span=(249, 251), match='31'>"
2083169,2075881,31668,134163.0,2122-09-11,2122-09-11 03:33:00,2122-09-11 03:42:00,Nursing/other,Report,15484.0,NaN,NPN\n\n\n#2F/N O-Infant remains on demand feed...,"<re.Match object; span=(825, 827), match='36'>"
2083172,2077115,31767,105243.0,2141-01-05,2141-01-05 14:24:00,2141-01-05 15:01:00,Nursing/other,Report,20700.0,NaN,NICU Attending Admission Note\nPt is a 34 [**6...,"<re.Match object; span=(80, 82), match='29'>"
2083173,2077116,31767,105243.0,2141-01-05,2141-01-05 16:28:00,2141-01-05 16:54:00,Nursing/other,Report,20634.0,NaN,Admission Note\n\n\nBaby boy [**Known lastname...,"<re.Match object; span=(140, 142), match='29'>"

In [14]:
noteevents_df_drop_none['AGE_MATCH'].isnull().sum()

0

In [15]:
noteevents_df_drop_none['HADM_ID'].isnull().sum()

130040

## Applying Function To Get Age Value As Number {-}

In [16]:
# creating a new column called age and applying function on full data
noteevents_df_drop_none['AGE'] = noteevents_df_drop_none['TEXT'].apply(find_age)

noteevents_df_drop_none

<ipython-input-16-aa3fc1074362>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noteevents_df_drop_none['AGE'] = noteevents_df_drop_none['TEXT'].apply(find_age)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE_MATCH,AGE
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,"<re.Match object; span=(216, 218), match='81'>",81
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,"<re.Match object; span=(192, 194), match='81'>",81
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,"<re.Match object; span=(367, 369), match='87'>",87
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,"<re.Match object; span=(1022, 1024), match='82'>",82
5,179,53181,170490.0,2172-03-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-3-5**] D...,"<re.Match object; span=(421, 423), match='62'>",62
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083090,2077470,31844,145602.0,2149-11-20,2149-11-20 17:59:00,2149-11-20 18:06:00,Nursing/other,Report,21222.0,NaN,"Admission Note\nOb-[**Last Name (LF) 279**], [...","<re.Match object; span=(290, 292), match='41'>",41
2083133,2075452,31655,175166.0,2148-07-25,2148-07-25 21:51:00,2148-07-25 21:58:00,Nursing/other,Report,19211.0,NaN,Neonatology\nBaby Girl [**Known lastname 1672*...,"<re.Match object; span=(249, 251), match='31'>",31
2083169,2075881,31668,134163.0,2122-09-11,2122-09-11 03:33:00,2122-09-11 03:42:00,Nursing/other,Report,15484.0,NaN,NPN\n\n\n#2F/N O-Infant remains on demand feed...,"<re.Match object; span=(825, 827), match='36'>",36
2083172,2077115,31767,105243.0,2141-01-05,2141-01-05 14:24:00,2141-01-05 15:01:00,Nursing/other,Report,20700.0,NaN,NICU Attending Admission Note\nPt is a 34 [**6...,"<re.Match object; span=(80, 82), match='29'>",29
2083173,2077116,31767,105243.0,2141-01-05,2141-01-05 16:28:00,2141-01-05 16:54:00,Nursing/other,Report,20634.0,NaN,Admission Note\n\n\nBaby boy [**Known lastname...,"<re.Match object; span=(140, 142), match='29'>",29

In [17]:
noteevents_df_drop_none.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 795293 entries, 1 to 2083173
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ROW_ID       795293 non-null  int64
 1   SUBJECT_ID   795293 non-null  int64
 2   HADM_ID      665253 non-null  float64
 3   CHARTDATE    795293 non-null  object
 4   CHARTTIME    743656 non-null  object
 5   STORETIME    276538 non-null  object
 6   CATEGORY     795293 non-null  object
 7   DESCRIPTION  795293 non-null  object
 8   CGID         276538 non-null  float64
 9   ISERROR      376 non-null     float64
 10  TEXT         795293 non-null  object
 11  AGE_MATCH    795293 non-null  object
 12  AGE          795293 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 84.9+ MB

## Concatenating Both DataFrames {-}

In [18]:
# noteevents_df_full = noteevents_df_age_none.merge(noteevents_df, left_index=True, right_index=True)
# noteevents_df_full

In [19]:
noteevents_df_full = pd.concat([noteevents_df_age_none, noteevents_df_drop_none], axis=0, join='outer').reindex(noteevents_df.index)
noteevents_df_full

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE_MATCH,AGE
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,None,NaN
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,"<re.Match object; span=(216, 218), match='81'>",81
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,"<re.Match object; span=(192, 194), match='81'>",81
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,"<re.Match object; span=(367, 369), match='87'>",87
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,"<re.Match object; span=(1022, 1024), match='82'>",82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,None,NaN
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",None,NaN
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,None,NaN
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,None,NaN
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,None,NaN

In [20]:
noteevents_df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083180 entries, 0 to 2083179
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   ROW_ID       int64
 1   SUBJECT_ID   int64
 2   HADM_ID      float64
 3   CHARTDATE    object
 4   CHARTTIME    object
 5   STORETIME    object
 6   CATEGORY     object
 7   DESCRIPTION  object
 8   CGID         float64
 9   ISERROR      float64
 10  TEXT         object
 11  AGE_MATCH    object
 12  AGE          object
dtypes: float64(3), int64(2), object(8)
memory usage: 206.6+ MB

In [21]:
noteevents_df_full['ROW_ID'].isnull().sum()

0

In [22]:
noteevents_df_full['SUBJECT_ID'].isnull().sum()

0

In [23]:
noteevents_df_full['HADM_ID'].isnull().sum()

231836

In [24]:
noteevents_df_full['AGE'].isnull().sum()

1287887

## Converting AGE = None to 0 {-}

In [25]:
noteevents_df_full['AGE'] = noteevents_df_full['AGE'].fillna(0)

In [26]:
noteevents_df_full['AGE'].isnull().sum()

0

In [27]:
noteevents_df_full

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE_MATCH,AGE
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,None,0
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,"<re.Match object; span=(216, 218), match='81'>",81
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,"<re.Match object; span=(192, 194), match='81'>",81
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,"<re.Match object; span=(367, 369), match='87'>",87
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,"<re.Match object; span=(1022, 1024), match='82'>",82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,None,0
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",None,0
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,None,0
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,None,0
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,None,0

## Dropping AGE_MATCH Column {-}

In [28]:
noteevents_df_full = noteevents_df_full.drop(columns='AGE_MATCH')
noteevents_df_full

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,0
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,81
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,81
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,87
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,82
...,...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,0
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",0
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,0
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,0
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,0

## Converting AGE Column Dtype From Object To INT {-}

In [29]:
noteevents_df_full['AGE'] = noteevents_df_full['AGE'].astype(int)
noteevents_df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083180 entries, 0 to 2083179
Data columns (total 12 columns):
 #   Column       Dtype
---  ------       -----
 0   ROW_ID       int64
 1   SUBJECT_ID   int64
 2   HADM_ID      float64
 3   CHARTDATE    object
 4   CHARTTIME    object
 5   STORETIME    object
 6   CATEGORY     object
 7   DESCRIPTION  object
 8   CGID         float64
 9   ISERROR      float64
 10  TEXT         object
 11  AGE          int64
dtypes: float64(3), int64(3), object(6)
memory usage: 190.7+ MB

## Renaming DataFrame And Saving As CSV {-}

In [30]:
noteevents_df_test = noteevents_df_full[noteevents_df_full['HADM_ID'] == 192153.0]
noteevents_df_test

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE
44860,53072,54830,192153.0,2124-05-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-4-13**] ...,0
321812,312920,54830,192153.0,2124-04-13,NaN,NaN,ECG,Report,NaN,NaN,Artifact is present. Sinus rhythm. Left vent...,0
1145224,1132587,54830,192153.0,2124-04-13,2124-04-13 18:21:00,NaN,Radiology,CT PELVIS W/CONTRAST,NaN,NaN,[**2124-4-13**] 6:21 PM\n CTA CHEST W&W/O C&RE...,0

In [31]:
print(noteevents_df_test.TEXT[44860])

Admission Date:  [**2124-4-13**]              Discharge Date:   [**2124-5-3**]


Service: MEDICINE

Allergies:
Patient recorded as having No Known Allergies to Drugs

Attending:[**First Name3 (LF) 18794**]
Chief Complaint:
Diarrhea

Major Surgical or Invasive Procedure:
None.


History of Present Illness:
Ms [**Known lastname 27218**] is a [**Age over 90 **] year-old female with hx of recent cdiff
[**1-26**], hip fracture [**11-23**], admission for massive GIB [**12-26**] who was
referred to the ED by VNA with fever, increased diarrhea, mild
dyspnea, and hypotension. The patient was recently discharged
from rehab and was seen by a visiting nurse today who found her
congested and unable to bring up her seretions. She had a temp
of 100.7 at home and BP of 100/50. VNA was unable to get a pulse
ox [**Location (un) 1131**]. She has been having diarrhea for 3 days. She was
told to go to the ED for evaluation. She admits to weakness,
abdominal pain. Denies SOB. Has been off antibiotics for some
time.
.
In the ED, initial VS: HR 82 BP 67/40 RR 24 Sat 98% on RA%. She
was given 2.5L NS and her SBP increased to the 100s. She had
many stools which smelled concerning for Cdiff. Guaiac negative.
Bilat lower quadrant tenderness. Labs were significant for
lactate of 3.2 (on recheck after fluids of 2.4), WBC of 22.0.
Repeat VS at 1800: 99.4, 104/46, 83, 24, 99%RA. She underwent a
CTA and CT abd/pelvis which was consistent with colitis, but
showed no megacolon. She was given 1000 mg of tylenol, 750 mg of
levofloxacin (for ? PNA with hypoxia initially prior to CXR
which was clear), and 500 mg of flagyl.
.
Vitals in ED prior to transfer-  T99.4 P80 BP92/60 RR30 O2 sat
100% on 2L NC.  2 18 guage PIVs. Foly put out 250 in last 6 hrs.
Got 2.7 L NS in ED. Put out 2 gallons of stool in ED.
.
On arrival to the ICU, pt states she is doing ok. She appears
confused and slow to answer questions. When pts' nephew and
sister were [**Name (NI) 653**], they stated the pt is usually quite sharp
and completely oriented. Now, pt does not know year or anyone's
phone numbers. She states he diarrhea started today and that she
no longer has any belly pain. Pt also states she has had a cough
recently

Past Medical History:
1. Systolic heart failure (EF 30-35 [**7-23**])
2. Atrial fibrillation on warfarin
3. Hypertension
4. Dyslipidemia
5. PVD s/p fem [**Doctor Last Name **] bypass
6. Uterine tumor, s/p total hysterectomy > 45yrs ago
7. Cystic Kidneys, with one reportedly "underdeveloped"
8. Esophageal ulcer and gastritis on EGD
9. Normocytic anemia- does not want colonoscopy
10. Bilateral aortoiliac bypass
11. Diverticulitis
12. Depression/anxiety
13. Benign cysts in breast removed X 2


Social History:
The patient lives in a two family house in [**Location (un) 2251**], MA. She was
never married and currently lives in the lower half of the house
with her sister-in-law (another octogenerian). She formerly
worked as a greeting card maker in a factory and retired over 20
years ago. She is still quite independent and can do her own
shopping and meal preparation.

Pt admits to smoking one pack/day for around 25 years and
quitting entirely when she was in her 40's. She drinks wine very
rarely on holidays and denies any history of other drugs.
.
She eats a healthy diet that she prepares at home and tries to
limit her sodium and fluid intake. She tries to exercise by
walking daily, but her walking is limited by leg pain.


Family History:
Mother has h/o of loss of consciousness from "heart problems"
that eventually caused her death. Father died of cirrhosis
(non-alcoholic).

Physical Exam:
VS: T=, BP=110/70, HR=90, RR=15, O2 sat=100%RA
GENERAL: Elderly white female in no apparent distress.  Able to
answer questions.  Seems mildly confused, able to say full name,
knows its [**Month (only) 547**] but thinks its [**2115**], knows that she is at [**Hospital 61**] Hospital.  Coughing intermittently during our
conversation.
HEENT: NCAT. Sclera anicteric. PERRL, EOMI. Mucous membranes are
moist
NECK: Supple with JVP of 10cm
CARDIAC: Irregular rhythm, rate controlled, no murmurs.
LUNGS: Diffuse bilateral wheezes and late inspiratory crackles.
ABDOMEN: Non distended, soft, mild tenderness to deep palpation
in the peri-umbilical region.
EXTREMITIES: No c/c/e.

Pertinent Results:
CT torso with contrast:
IMPRESSION:
1. No evidence of pulmonary embolism or aortic dissection.
2. Moderate pancolitis and proctitis. Clinical correlation is
recommended.  This can be secondary to pseudomembranous colitis
or other infectious/inflammatory etiology. Ischemic etiology is
less likely due to
distribution.
3. L1 severe compression fracture with 5mm of retropulsion is
new since [**2123-12-24**].
.


Brief Hospital Course:
#. C. difficile colitis: Patient presented with profuse diarrhea
up to 2 gallons every couple of hours (per ED report) and was
found to be hypotensive with a lactate of 3.2 and Cr of 1.3 from
a baseline of <1.0. She was initially admitted to the MICU where
she was given IVF resuscitation, started on IV metronidazole and
PO vancomycin (125 mg q6h) and  flexiseal was placed as patient
was producing a very large amount of diarrhea (>2 L daily). CT
abd/pel showed toxic megacolon with colon measuring >6 cm and C
diff testing subsequently was found to be positive. Her
hypotension and ARF resolved with IVF and she was subsequently
transferred to the medical floor. On the medical floor she
continued to have profuse diarrhea and her PO vancomycin was
subsequently increased to 500 mg q6h. Her flexiseal was removed
early in her course but her abdomen became distended very
rapidly and this was re-introduced. At this point a GI consult
was obtained and they recommended adding PR vancomycin at the
same PO dose and consulting ID. An ID consult was obtained and
given her condition metronidazole was changed to tigecycline.
Serial abdominal X-rays were obtained with her colon measuring
9.5 cm and despite all of our efforts her diarrhea persisted.
Given the severity of her disease and her DNR/DNI status a
conversation was held with the patient about colectomy which was
the only viable option for cure at the time. She declined
surgery and subsequently a family meeting was held and her
family decided to respect her wishes of not having surgery and
having a trial of maximal medical therapy. At this meeting,
given her poor prognosis, it was decided to remove her flexiseal
as this was very painful to the patient. After this was done she
continued to have diarrhea but its amount reduced throughout the
hospitalization. A palliative care consult was obtained and the
patient and family decided to return home with a hospice
program.  IV tigecycline was stopped on the day of discharge;
oral vancomycin should be tapered to a decreased dose, but
continued for life.

#. Electrolyte abnormalities: Patient??????s course was complicated
by persistent electrolyte abnormalitis, including potassium,
magnesium, calcium and bicarbonate loss due to the large amount
of diarrhea that she was producing daily and her NPO status.
These were repleted both via IV and PO routes.

#. Delirium:  Patient was found to be delirious at times during
her hospitalization but she remained mostly AOX2-3. This was
attributed to the severity of her disease and her long hospital
course.

#. UTI: Patient was found to have +UA on 2 different occasions
during her hospitalization. The initial one was treated with 3
days of PO cipro. This was later thought not to have been
appropriate and a second UA was found to be positive as well.
This was treated with 3 days of IV cipro and this was
discontinued as a recommendation of the ID team. She had a foley
catheter throughout her hospitalization, which was removed prior
to discharge.

#. ARF: Patient presented with a Cr of 1.3 from a baseline of
0.7. This was thought to represent pre-renal azotemia due to
severe dehydration as it resolved after IVF resuscitation.

#. Code: Patient was DNR/DNI.

Medications on Admission:
citalopram 20 daily
cyanocobalamin 1000mcg IM monthly
digoxin 125mcg every other day
folic acid 1mg daily
lisinopril 10 daily
metoprolol 12.5 TID
omeprazole 20 daily
warfarin (? if pt currently using)
ferrous sulfate 325 daily
fish oil daily

Discharge Medications:
1. Digoxin 125 mcg Tablet Sig: One (1) Tablet PO EVERY OTHER DAY
(Every Other Day).
2. Vancomycin 250 mg Capsule Sig: One (1) Capsule PO Q6H (every
6 hours).
Disp:*120 Capsule(s)* Refills:*3*
3. Citalopram 20 mg Tablet Sig: One (1) Tablet PO once a day.
4. compazine  Sig: One (1) 10mg Transdermal every six (6) hours
as needed for nausea: Please provide gel.
Disp:*1 tube* Refills:*0*


Discharge Disposition:
Home With Service

Facility:
All Care VNA of Greater [**Location (un) **]

Discharge Diagnosis:
Clostridium Difficile Pancolitis


Discharge Condition:
Mental Status: Confused - sometimes.
Level of Consciousness: Lethargic but arousable.
Activity Status: Out of Bed with assistance to chair or
wheelchair.


Discharge Instructions:
You were admitted with a severe infection in your colon called
C. difficile.  Your colon was very inflammed, with a condition
called "colitis", requiring a tube to drain your stools.  Your
colon function has recovered, but you will need lifelong therapy
with the antibiotic "vancomycin" to keep the infection at bay.
We met with you and your family, and the decision was made to
have you return to your home with hospice services.  This was
arranged with our case managers.  The hospice agency will be
available to you to help manage any discomfort and to access any
resources needed to optimize your care at home.

Followup Instructions:
The hospice nurses affiliated with your agency are available for
any acute needs.

In [32]:
noteevents_df_full[noteevents_df_full['AGE'] ==0]

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,0
8,182,56174,163469.0,2118-08-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-8-10**] ...,0
26,237,26601,155131.0,2131-12-29,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-12-23**] ...,0
29,240,27051,113012.0,2194-02-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...,0
60,207,5239,129387.0,2189-02-26,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2189-2-18**] Dischar...,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,0
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",0
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,0
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,0
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,0

In [33]:
noteevents_df_full.to_csv('NOTEEVENTS_WITH_AGE.csv', index=False)